<p id="notice"><%= notice %></p>

<p>
  <strong>Partnumber:</strong>
  <%= @part_number.partnumber %>
</p>

<%= link_to 'Edit', edit_part_number_path(@part_number) %> |
<%= link_to 'Back', part_numbers_path %>
